<%= form_for(pokemon) do |f| %>
  <% if pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
      <% pokemon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :lat %>
    <%= f.number_field :lat %>
  </div>

  <div class="field">
    <%= f.label :lng %>
    <%= f.number_field :lng %>
  </div>

  <div class="field">
    <%= f.label :last_spawned_at %>
    <%= f.datetime_select :last_spawned_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
