<p id="notice"><%= notice %></p>

<h1>Pokemons near (<%= @lat_start %>, <%= @lon_start %>)</h1>

<table>
  <thead>
  <tr>
    <th>Lp.</th>
    <th>Name</th>
    <th>Lat</th>
    <th>Lng</th>
    <th>Last spawned at</th>
    <th>Distance to (<%= @lat_start %>, <%= @lon_start %>) in km</th>
    <th>Images</th>
  </tr>
  </thead>

  <tbody>
  <% @pokemons.each.with_index do |(k, pokemon), index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.lat %></td>
        <td><%= pokemon.lng %></td>
        <td><%= pokemon.last_spawned_at %></td>
        <td><%= k %> km</td>
        <td>
          <% pokemon.images.each do |image| %>
              <figure>
                <img src=" <%= image.url %>" class="img-responsive">
              </figure>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

