<% if !notice.nil? %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <%= notice %>
    </div>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <h1>Pokemons near (<%= @lat_start %>, <%= @lon_start %>)</h1>
  </div>
</div>

<div class="row margins">
  <div class="col-sm-12">
    <label>
      JSON FORMAT:
    </label>
    <%= link_to 'Show JSON', {:controller => "pokemons", :action => "index", :lat_start => 52.4064, :lon_start => 16.9252, :format => :json}, :class => "btn btn-success" %>
  </div>
</div>



<div class="row header-list text-center">
  <div class="col-sm-1">
    <p>Lp.</p>
  </div>
  <div class="col-sm-2">
    <p>Name</p>
  </div>
  <div class="col-sm-1">
    <p>Lat</p>
  </div>
  <div class="col-sm-1">
    <p>Lng</p>
  </div>
  <div class="col-sm-2">
    <p>Last spawned at</p>
  </div>
  <div class="col-sm-2">
    <p>Distance to (<%= @lat_start %>, <%= @lon_start %>) in km</p>
  </div>
  <div class="col-sm-3">
    <p>Images</p>
  </div>
</div>
<% @pokemons.each.with_index do |(k, tab), index| %>
    <div class="row text-center">
      <div class="col-sm-1">
        <p><%= index + 1 %></p>
      </div>

      <div class="col-sm-2">
        <p><%= tab['pokemon'].name %></p>
      </div>
      <div class="col-sm-1">
        <p><%= tab['pokemon'].lat %></p>
      </div>
      <div class="col-sm-1">
        <p><%= tab['pokemon'].lng %></p>
      </div>
      <div class="col-sm-2">
        <p><%= tab['pokemon'].last_spawned_at %></p>
      </div>
      <div class="col-sm-2">
        <p><%= tab['distance'] %> km</p>
      </div>
      <div class="col-sm-3">
        <% tab['pokemon'].images.each do |image| %>
            <img src=" <%= image.url %>" class="img-responsive">
        <% end %>
      </div>
    </div>
<% end %>



