<% if !notice.nil? %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <%= notice %>
    </div>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <h1>Pokemons near (<%= @lat_start %>, <%= @lon_start %>)</h1>
  </div>
</div>


<div class="row header-list">
  <div class="col-sm-1">
    <p>Lp.</p>
  </div>
  <div class="col-sm-2">
    <p>Name</p>
  </div>
  <div class="col-sm-1">
    <p>Lat</p>
  </div>
  <div class="col-sm-1">
    <p>Lng</p>
  </div>
  <div class="col-sm-2">
    <p>Last spawned at</p>
  </div>
  <div class="col-sm-2">
    <p>Distance to (<%= @lat_start %>, <%= @lon_start %>) in km</p>
  </div>
  <div class="col-sm-3">
    <p>Images</p>
  </div>
</div>

<% @pokemons.each.with_index do |(k, pokemon), index| %>
<div class="row">
  <div class="col-sm-1">
    <p><%= index + 1 %></p>
  </div>
  <div class="col-sm-2">
    <p><%= pokemon.name %></p>
  </div>
  <div class="col-sm-1">
    <p><%= pokemon.lat %></p>
  </div>
  <div class="col-sm-1">
    <p><%= pokemon.lng %></p>
  </div>
  <div class="col-sm-2">
    <p><%= pokemon.last_spawned_at %></p>
  </div>
  <div class="col-sm-2">
    <p><%= k %> km</p>
  </div>
  <div class="col-sm-3">
    <% pokemon.images.each do |image| %>
          <img src=" <%= image.url %>" class="img-responsive pull-left">
    <% end %>
  </div>
</div>
<% end %>



