<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-12">
    <p>
      <strong>Name:</strong>
      <%= @pokemon.name %>
    </p>

    <p>
      <strong>Lat:</strong>
      <%= @pokemon.lat %>
    </p>

    <p>
      <strong>Lng:</strong>
      <%= @pokemon.lng %>
    </p>

    <p>
      <strong>Last spawned at:</strong>
      <%= @pokemon.last_spawned_at %>
    </p>

    <p>
      <% @pokemon.images.each do |image| %>
          <img src=" <%= image.url %>" class="img-responsive pull-left">
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
    <%= link_to 'Back', {:controller => "pokemons", :action => "all"} %>
  </div>
</div>